/* Custom Varibles */
:root {
  --primary-color: #000000;
  --secondary-color: rgba(153, 153, 153, 0.894);
  --primary-background-color: #ffffff;
  --secondary-background-color: #154a4e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 25px;
  background-color: var(--primary-background-color);
}

/* Reusable CSS */
.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.responsive-sml {
  width: 100%;
  max-width: 180px;
  height: auto;
  border-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.center {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.width-50 {
  max-width: 50rem;
}

.width-40 {
  max-width: 40rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
}

/* Modal */
.header-container {
  border: #154a4e solid;
  padding: 20px;
  border-radius: 20px;
}

#modalBtn {
  background-color: var(--secondary-background-color);
  color: whitesmoke;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#modalBtn:hover {
  background-color: skyblue;
}

#modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  text-align: center;
  background-color: var(--primary-background-color);
  margin: 2% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  max-width: 600px;
  line-height: 1.8;
  background-color: var(--secondary-background-color);
  color: whitesmoke;
  border-radius: 20px;
}

.modal-content h2 {
  color: var(--secondary-color);
}

.modal-content em {
  font-size: 20px;
  color: var(--secondary-color);
}

.modalX {
  float: right;
  font-size: 25px;
}

.modalX:hover,
.modalX:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Main App */
.game-container {
  margin-top: 20px;
  padding: 0 20px 20px 20px;
}

#gameSimulation {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.door {
  width: 100px;
  height: 100px;
  background-color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32pt;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.door:hover {
  background-color: skyblue;
}

.goat {
  opacity: 0;
}

.prize {
  opacity: 0;
}

#btn {
  margin: 10px;
  display: none;
  text-align: center;
}

#btn button {
  background-color: var(--secondary-background-color);
  color: whitesmoke;
  padding: 8px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#btn button:hover {
  background-color: skyblue;
}

#play-again {
  display: none;
}

.displayStats {
  line-height: 20px;
  text-align: center;
}

.resetStats {
  background-color: black;
  color: whitesmoke;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.resetStats:hover {
  background-color: skyblue;
}

.statsNum {
  font-size: 20px;
}

.gameResult {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}

#winResult {
  color: rgb(68, 204, 68);
  display: none;
}

#loseResult {
  color: red;
  display: none;
}

#steps {
  text-align: center;
  font-size: 25px;
  color: skyblue;
}

/* The Problem Section */
.explaination-container h2 {
  border: black solid;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.explaination-container h3 {
  border: black solid;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.the-problem {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.the-problem p {
  margin: auto;
  padding-left: 20px;
}

#deal-poster {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 20px;
}

/*  WHat is the monty Hall Problem */
.the-problem-door {
  margin: auto;
  padding-left: 20px;
}

.the-problem-door ul {
  padding-top: 15px;
}

/* Explaination */
.explaination-text {
  padding: 20px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

/* Table */
.table-text {
  padding: 20px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  line-height: 200%;
}

.table-text h4 {
  font-size: 20px;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}

/* Footer */
footer {
  text-align: center;
  padding-top: 2vw;
  border-top: 1px solid silver;
}
